@import url('https://fonts.googleapis.com/css?family=Quicksand');
$main-color-dark:#004c8c;
$main-color-light:#58a5f0;
$font-color:white;
$form-back-color:white;
$main-color:#e3f2fd;
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
#head-nav{
  font-size: 1.2em;
  span{
      font-weight:bolder;
      font-size: 1.5em;
  }
  background-color: $main-color-dark;
  color: $font-color;
}
#frm{
  #frm-clmn{
    margin-top: 5%;
    background-color: $form-back-color;
  }
  form{
    font-size: 1.2em;
    input{
      &:focus{
        border-color:$main-color-dark;
      }
    }
    a{
      text-decoration: none;
      color:$main-color-light;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
#memList{
  overflow-y: auto;
}
#memListBtn{
  position:fixed;
  bottom:10%;
  right:10%;
}
#chatWindow{
  margin:1% 4% 1% 4%;
  min-height: 72vh;
  border: 1px solid #b3c0c9;
  border-radius: 1%;
  background-color:#fff;
}
#msgInput{
  margin:0% 4% 0% 4%;
  width:100%;
}
