@import url("https://fonts.googleapis.com/css?family=Quicksand");
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif; }

#head-nav {
  font-size: 1.2em;
  background-color: #004c8c;
  color: white; }
  #head-nav span {
    font-weight: bolder;
    font-size: 1.5em; }

#frm #frm-clmn {
  margin-top: 5%;
  background-color: white; }

#frm form {
  font-size: 1.2em; }
  #frm form input:focus {
    border-color: #004c8c; }
  #frm form a {
    text-decoration: none;
    color: #58a5f0; }
    #frm form a:hover {
      text-decoration: underline; }

#memList {
  overflow-y: auto; }

#memListBtn {
  position: fixed;
  bottom: 10%;
  right: 10%; }

#chatWindow {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 1% 4% 1% 4%;
  height: 72vh;
  border: 1px solid #b3c0c9;
  border-radius: 1%;
  background-color: #fff;
  overflow-y: scroll; }

#msgInput {
  margin: 0% 4% 0% 4%;
  width: 100%; }

#chatMsg {
  margin: 1%;
  max-width: 60%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border: 1px solid #b3c0c9;
  box-shadow: 2px 2px 2px #b3c0c9;
  word-wrap: break-word; }
  #chatMsg #sender {
    font-size: 1.2em;
    font-weight: 600; }
  #chatMsg #msg {
    font-size: 1.5em;
    font-weight: 400; }
